.it_services {
  margin-left: 0px !important;
}

.services_pdq_main,
.container-why {
  background: #0f1b2e;
  padding: 5rem 4rem 2.5rem 5rem;
  width: 100%;
}

.services_contact_btn {
  border: none;
  padding: 10px;
  text-transform: uppercase;
}

.services_pdq_nav-link:hover {
  text-decoration: none;
}

.services_why_heading {
  text-align: left;
}

.services_why_title {
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.services_why_description {
  text-align: justify;
  margin-left: 2rem;
}

.services_first {
  height: fit-content;
  width: 100%;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}

.services_third {
  height: fit-content;
  width: 100%;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
}

.services_service {
  padding: 60px;
  margin: 0px !important;
}

.services_service_content_bgcontainer {
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.services_service_heading {
  font-size: 36px;
  text-align: left;
}
.services_service_contact_btn {
  padding: 5px 10px !important;
}

.services_contact_btn_light_blue {
  border: 1px solid #9ac5fe;
  font-weight: bold !important;
}

.services_contact_btn_dark_blue {
  background: #0f1b2e;
  color: #fff;
  border: 1px solid #0f1b2e;
  padding-top: 15px;
  font-weight: bold !important;
}

.services_contact_btn_dark_blue:hover {
  background: #fff;
  color: #0f1b2e;
}

.btn_font {
  text-transform: uppercase;
}

.number {
  flex-direction: row;
  margin-right: 8px;
}

.services_point_title {
  flex-direction: row;
}

.services_service_image {
  height: 450px;
  width: 100%;
}

@media all and (max-width: 1024px) {
  .services_service {
    padding: 5rem;
    width: 100%;
  }

  .services_service_image {
    height: 400px;
    width: 100%;
  }
}

@media all and (max-width: 780px) {
  .services_pdq_main,
  .container-why {
    padding: 3rem 1rem 5rem 3.5rem;
  }

  .services_why_heading {
    font-size: 24px;
    text-align: center;
  }

  .services_why_title {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    justify-content: center;
  }

  .services_why_description {
    font-size: 16px;
    text-align: center;
  }

  .services_service_heading {
    font-size: 24px;
    text-align: center;
  }

  .services_service_contact_btn {
    margin: 0 auto;
  }

  .services_service_icons {
    margin: 0 auto;
    margin-bottom: 15px;
    height: 60px;
    width: 60px;
  }

  .number {
    margin-right: 0;
    margin-left: 0;
  }

  .services_service_carousel_description {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin-left: 0px;
    margin-right: 0 !important;
  }
}

@media all and (max-width: 525px) {
  .services_pdq_main,
  .container-why {
    padding: 3rem 1rem 5rem 1.5rem;
  }

  .services_pdq_image_container {
    margin-top: 3rem;
  }

  .services_pdq_image {
    height: 350px;
    width: 350px;
  }

  .services_service {
    padding: 2rem;

    z-index: -999 !important;
  }

  .services_third,
  .services_first {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    z-index: 999 !important;
  }

  .services_service_image {
    width: 300px;
    height: 300px;
    z-index: 100000 !important;
  }

  .services_service_content_bgcontainer {
    padding-top: 20px;
  }

  .services_service_carousel_description {
    text-align: center;
  }
}

.container-why {
  background-color: #fff;
}
